@import "minimal-mistakes/variables";

/* override font stacks */
$serif: "Lora", Georgia, Times, serif;
$sans-serif: "Lora", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

/* override global font family */
$global-font-family: $serif;

.author__avatar {
  position: relative;
}